<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/wickedpicker.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../static/wickedpicker.js"></script>
    <script type="text/javascript" src="../static/create-gameroom.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
    

    <title>Create Game Room - Stock Ticker</title> 
</head>
<body>
<div class="container">
<h1>Stock Ticker</h1>
<h2>Create New Game Room</h2>
<form id="form" class="form-inline" on-submit="$onSubmit()" method="post">
    <div class="row">
        <div class="col-md-6">
            <label for="playerName">Your name:</label>
            <input class="form-control" type="text" name="playerName" id="playerName" required>
        </div>
        <div class="col-md-6">
            <label for="gameRoomName">Name of game room:</label>
            <input class="form-control" type="text" name="gameRoomName" id="gameRoomName" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label id="startingStockHoldings">Starting stock holdings:</label>
            <input class="form-control" type="number" name="startingStockHoldings" id="startingStockHoldings" min=0 step=500 max=5000 value=1000 required>
        </div>
        <div class="col-md-6">
            <label for="startingCash">Starting cash:</label>
            <input class="form-control" type="number" name="startingCash" id="startingCash" min=100 step=100 max=50000 value=5000 required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="myPicker">Game duration:</label>
            <input class="form-control" type="text" name="myPicker" id="myPicker" class="timepicker" id="myPicker" value="1:00" required/>
        </div>
    </div>
    <div class="row text-center">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
<br>
<br>
</div>
</body>
</html>